<!DOCTYPE html>
<html lang="en" class="signup">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KOWASA 회원가입</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style_register.css">
</head>
<body>
    <div class="main">
        <section >
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">회원가입</h2>
                        <div class="form-group" style="display: flex; justify-content: space-between; align-items: center;">
                            <input type="text" class="form-input" name="name" id="username" placeholder="아이디" style="flex-grow: 1; margin-right: 20px;"/>
                            <input type="button" name="submit" id="checkUsername" class="form-submit" value="아이디중복확인" style="width: 150px;"/>
                        </div>
                        <div id="usernameResult"></div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="비밀번호"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="passwordConfirm" placeholder="비밀번호 재확인"/>
                        </div>
                        <div class="form-group" style="display: flex; justify-content: space-between; align-items: center;">
                            <input type="email" class="form-input" name="email" id="email" placeholder="이메일" style="flex-grow: 1; margin-right: 20px;"/>
                            <input type="button" name="sendVerificationCode" id="sendVerificationCode" class="form-submit" value="인증번호전송" style="width: 150px;"/>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-input" name="verificationCode" id="verificationCode" placeholder="인증번호를 입력해주세요"/>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="회원가입"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        이미 가입을 하셨나요? <a href="/login" class="loginhere-link">로그인</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main_register.js"></script>
    <script src="js/register.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>